@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 120px;
}

.roboto {
  font-family: var(--font-roboto);
}

.oswald {
  font-family: var(--font-oswald);
}